<h1 class="side-container">Jobs</h1>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-card class="profile-card">
      <mat-card-header>
        <span class="material-icons"> person_pin </span>
        <mat-card-title>Acheron Acheron</mat-card-title>
        <mat-card-subtitle>Lead Software Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> expert </mat-card-content>
    </mat-card>
    <div class="type-container">
        <h1>Type of Employment</h1>
        <a>Full Time</a><br>
        <a>Part Time</a><br>
        <a>Contract</a><br>
        <a>Internship</a><br>
    </div>
    <hr>
    <div class="type-container">
        <h1>Salary Range</h1>
        <a>10,000-20,000</a><br>
        <a>10,000-20,0000</a><br>
        <a>10,000-20,00000</a><br>
        <a>Internship</a><br>
    </div>
    <hr>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
