<mat-toolbar color="accent" class="mat-elevation-z5 nav-bar">
  <a class="title" mat-button class="title" routerLink=""> Connections </a>
  <span class="spacer"></span>

  <div class="items-container">
    <a class="item" mat-button routerLink="" routerLinkActive="true">Home</a>

    <a class="item" mat-button routerLink="feed">Feed</a>
    <a class="item" mat-button routerLink="jobs">Jobs</a>
    <a mat-button routerLink="profile">
      <span class="material-icons item"> account_circle </span>
    </a>

    <a mat-button routerLink=""
      ><span class="material-icons item"> logout </span></a
    >
  </div>
</mat-toolbar>
