<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>

<mat-toolbar color="accent" class="mat-elevation-z5 nav-bar">
  <a class="title" mat-button class="title" routerLink="">
    <span>C</span><img [src]="'assets/globe.gif'" class="globe-icon" />nnections
  </a>
  <span class="spacer"></span>

  <div class="items-container">
    <a class="item" mat-button routerLink="" routerLinkActive="true">
      <div class="navbar-component-container">
        <span class="material-icons"> house </span>
        <span class="icon-font">Home</span>
      </div>
    </a>

    <a class="item" mat-button routerLink="network">
      <div class="navbar-component-container">
        <span class="material-icons"> group </span>
        <span class="icon-font">My Network</span>
      </div>
    </a>

    <a class="item" mat-button routerLink="feed">
      <div class="navbar-component-container">
        <span class="material-icons"> newspaper </span>
        <span class="icon-font"> Feed</span>
      </div>
    </a>

    <a class="item" mat-button routerLink="jobs">
      <div class="navbar-component-container">
        <span class="material-icons"> business_center </span>
        <span class="icon-font">Jobs</span>
      </div>
    </a>

    <a mat-button routerLink="profile">
      <div class="navbar-component-container profile-me">
        <span class="material-icons"> account_circle </span>
        <span class="icon-font" [ngStyle]="{ 'font-size': '9px' }">Me</span>
      </div>
    </a>

    <a mat-button (click)="loginModule()"><span class="material-icons"> login </span></a>

    <a mat-button routerLink=""><span class="material-icons"> logout </span></a>
  </div>
</mat-toolbar>
