div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color:#b0a5c7;
    
    height: 100vh;
  }

  mat-card{
    width:30%;
    margin-top:100px;
    height: max-content;
        border: 1px solid #BFBFBF;

  box-shadow: 10px 10px 5px #aaaaaa;
}
mat-card-title{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 200;
}
.company-logo{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-left: 35%;
  }
  button{
      background-color: rgb(86, 86, 158);
      color: white;
      text-align: center;
      margin-top: 5%;
    margin-left: 80%;

  }