.cover-image {
    height: 200px;
    width: 100%;
}
.profile-pic {
    height: 170px;
    width: 170px;
    border-radius: 100px;
    position: absolute;
    margin: 50px;
}
.name { 
    margin-top: 30px;
    margin-left: 52px;
}
.bio { 
    font-size: 16px;
    margin-left: 52px;
}
.about-container {
    padding: 30px;
}
.edu-logo {
    height: 80px;
    width: 70px;
}
.heading {
  margin-top: -18px;
}
.edu-card {
    display: flex;
}
.edu-text-card {
    margin-left: 20px;
}

i{
    transform: scale(4);
    color:orange;

}

.skills-icon{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    // margin-left:52px;
    margin:50px;
}

.skills-heading{
    font-family: 'Roboto', sans-serif;
    margin:20px;
}


.card-container {
    max-width: 400px;
    margin-left: 40px;
    margin-bottom:40px;
  }
  .icon {
    margin-right: 4px;
  }
  
  .comment-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .action-container {
    text-align: center;
  }
  
  .action-button {
    font-size: 15px;
  }
  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .public-icon{
    transform: scale(0.6);
    vertical-align:middle;
  }
  
  .top-post-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 10px;
  }
  
  .sub{
    margin-top: 0px;
    margin-bottom:0px;
  }
  
  .profile-name{
    font-size: 17px;
    // font-weight: bold;
  }
  
  .top-post-text{
    margin-left: 10px;
  }
  
  .comment-button{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-right: 20px;
    margin-top:0px;
    
  }




  .example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }